 <div class="container">
   <div class="row">
    <h5 class="text-dark bg-light m-4 mb-0">記事編集画面</h5>
  </div>
  <div class="form-group">
    <%= form_with model: @post, url: post_path(@post.id), method: :patch, local: true do |f| %>
    <%= f.file_field :images, multiple: true, class: "w-100" %>
    <%= "↑ Shiftキーを押しながら画像を複数選択してください。" %>
    <div class="input-group mb-3 mt-4">
      <%= f.text_field :title, class:"form-control", placeholder:"タイトル" %>
    </div>
    <%= f.text_area :contents, class:"form-control", rows:"3", placeholder:"投稿内容" %>
    <div class="links">
      <p>既に登録してあるタグは選べません。</p>
      <span>既に選択しているタグ</span>
      <h6 class="my-1 mx-3 bg-warning">
        <% @post.tags.each do |tag| %>
        <span><%= tag.tag_name %></span>
      <% end %>
    </h6>
      <%= link_to_add_association 'タグを追加', f, :post_tags %>
    </div>
    <%= f.fields_for :post_tags, @post.post_tags.build do |post_tag| %>
    <div class="field">
      <div class="nested-fields">
        <div class="col-md-6">
          <%= f.collection_select :tag_id, Tag.all, :id, :tag_name %>
        </div>
        <%= link_to_remove_association '削除', f, class: 'btn btn-danger' %>
      </div>
    </div>
    <% end %>
    
    <div class="row mt-4 pb-5">
      <div class="form-inline mx-auto">
        <%= f.radio_button :is_draft, :false %>
        <%= f.label :is_draft, "公開" %>
        <%= f.radio_button :is_draft, :true %>
        <%= f.label :is_draft, "下書き" %>
      </div>
    </div>
    <div class="btn">
       <%= f.submit '更新' ,class: 'mx-auto btn btn-sm btn-warning text-white' %>
    </div>
  </div>

    <div class="mt-4 pb-3 text-center">
      <u><%= link_to "記事を削除", "/posts/#{@post.id}", method: :delete, data: {confirm: "この記事を削除しますか？"}, class:'text-danger' %></u>
    </div>
  <% end %>
</div>