<div class="container">
  <div class="row">
    <h4 class="my-5">投稿記事一覧</h4>
  </div>
  <%= search_form_for @search do |f| %>
    <%= f.label :記事タイトルで検索 %>
    <%= f.search_field :title %>
    <%= f.submit %>
  <% end %>
  
  <%= 

  <% @posts.each do |post| %>
    <%= post.title %>
    <% if post.image.attached? %>
      <% post.image.each do |image| %>
        <%= image_tag image.variant(resize: '300x300') %>
      <% end %>
    <% end %>
    <%= post.contents %>
    <p>ユーザーネーム：<%= post.user.name %></p>
    <p><%= link_to "#{post.post_comments.count} コメント", post_path(post.id) %></p>
    <%= link_to "記事詳細", post_path(:id), class: "btn btn-sm btn-danger" %>
  <% end %>
</div>