<div class="container">
  <div class="row">
    <h4 class="my-5">
      <%= @post.title %>
    </h4>
    <h6 class="my-5 mx-3" style="background-color: #99CC66">
      <% @post.tags.each do |tag| %>
        <span><%= tag.tag_name %></span>
      <% end %>
    </h6>
  </div>
  <div class="post-infomation">
    <p>投稿日：<%= @post.created_at.strftime('%Y/%m/%d') %></p>
    <p>投稿者：
      <%= link_to user_path(@post.user.id) do %>
        <%= @post.user.nickname %>
      <% end %>
    </p>
  </div>
  <div class="images">
    <% if @post.images.attached? %>
      <% @post.images.each do |image| %>
        <%= image_tag image.variant(resize: "200x200").processed %>
      <% end %>
    <% end %>
  </div>
  <div class="contents">
    <p><%= @post.contents %></p>
    <% if @post.user == current_user %>
      <%= link_to "記事を編集", edit_post_path(@post), class: "btn btn-success my-3"%>
      <%= link_to "記事を削除", post_path(@post), method: :delete, class: "btn btn-danger my-3"%>
    <% end %>
  </div>
  <div class="favorite">
    <% if @post.favorited_by?(current_user) %>
      <p>
        <%= link_to post_favorite_path(@post), method: :delete do %>
          いいね（ブックマーク）を外す
        <% end %>
        ♥<%= @post.favorites.count %>いいね
      </p>
    <% else %>
      <p>
        <%= link_to post_favorites_path(@post), method: :post do %>
          いいね
        <% end %>
        ♥<%= @post.favorites.count %>いいね
      </p>
    <% end %>
  </div>
  <div class="comment">
    <p>コメント件数：<%= @post.post_comments.count %></p>
    <table class="table">
      <th class="col-2">投稿日</th>
    　<th class="col-6">コメント</th>
    　<th class="col-2">投稿者</th>
    　<th class="col-2"></th>
       <% @post.post_comments.each do |post_comment| %>
      <tr>
        <td><%= post_comment.created_at.strftime('%Y/%m/%d') %></td>
        <td><%= post_comment.comment %></td>
        <td><%= post_comment.user.nickname %></td>
        <% if post_comment.user == current_user %>
          <td><%= link_to "コメント削除", post_post_comment_path(post_comment.post, post_comment), method: :delete, class: "btn btn-danger"%></td>
        <% end %>
      </tr>
      <% end %>
    </table>
  </div>
  <div>
    <%= form_with model: [@post, @post_comment] do |f| %>
      <%= f.text_area :comment, rows: '3', cols: '50', placeholder: "コメントをここに" %>
      <%= f.submit "送信する" %>
    <% end %>
  </div>
</div>