<div class="container">
  <div class="row">
    <h4 class="my-3">新規登録</h4>
  </div>
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= render "admin/shared/error_messages", resource: resource %>
    <div class="form-group">
      <div class="row mb-3">
        <%= f.label "メールアドレス", class: "col-3" %>
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control col-3", placeholder: "sample@example.com" %>
      </div>
      <div class="row mb-3">
        <%= f.label "パスワード(6文字以上）", class: "col-3" %>
        <%= f.password_field :password, autocomplete: "new-password", class: "form-control col-3" %>
      </div>
      <div class="row mb-3">
        <%= f.label "パスワード(確認用)", class: "col-3" %>
        <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control col-3" %>
      </div>
      <div class="row mb-3">
        <div class="col-3">
        </div>
        <div class="action">
          <%= f.submit "新規登録", class: "btn btn-success btn-lg px-5" %>
        </div>
      </div>
    </div>
  <% end %>
  <%= render "admin/shared/links" %>
</div>
