<div class="container">
  <div class="row">
    <h4 class="bg-light my-5 ml-2 text-center col-4">
      <%= @user.name + "さんの会員詳細" %>
    </h4>
  </div>
  <div class="row">
    <div class="col-6">
      <table class="table table-hover table-inverse">
        <tbody>
          <tr>
            <th>会員ID</th>
            <td><%= @customer.id %></td>
          </tr>
          <tr>
            <th>氏名</th>
            <td><%= @customer.last_name + " " + @customer.first_name %></td>
          </tr>
          <tr>
            <th>フリガナ</th>
            <td> <%= @customer.last_name_kana + " " + @customer.first_name_kana %></td>
          </tr>
          <tr>
            <th>郵便番号</th>
            <td><%= @customer.postal_code %></td>
          </tr>
          <tr>
            <th>住所</th>
            <td><%= @customer.address %></td>
          </tr>
          <tr>
            <th>電話番号</th>
            <td><%= @customer.telephone_number %></td>
          </tr>
          <tr>
            <th>メールアドレス</th>
            <td><%= @customer.email %></td>
          </tr>
          <tr>
            <th>会員ステータス</th>
            <td>
              <% if @customer.is_deleted == false %>
                <p class="text-success font-weight-bold">有効</p>
              <% else %>
                <p class="text-secondary font-weight-bold">退会</p>
              <% end %>
            </td>
          </tr>
          <tr>
            <th></th>
            <td>
              <%= link_to "編集する", edit_admin_customer_path, class: 'btn btn-sm btn-success px-3' %>
            </td>
            <td></td>
            <td>
              <%= link_to "注文履歴一覧を見る", admin_path, class: 'btn btn-sm btn-primary' %>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
